@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "styles/heroes";

.main-wrapper {
  height: 100vh;
}

user-bar {

}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}

.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}

.items .text {
  position: relative;
  top: -3px;
}

.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

world {
  display: block;
  position: absolute;
  top: 0;

  game-controls {
    position: fixed;
    z-index: 100;
    height: 30px;
  }
}

#worldMap {
  z-index: 10;
  position: absolute;
}

#mapObjects {
  z-index: 20;
  position: absolute;
}

#eventOverlay {
  z-index: 30;
  position: absolute;
}

.game-controls-cont {
  background-color: silver;
}

action-feedback {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;

  .row {
    background-color: #ffffff36;
  }

  .col {
    font-weight: bold;
    white-space: nowrap
  }
}

.banter {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.35);
  width: 100%;
  font-size: 2em;

  h1 {
    font-size: 3em;
  }

  .banterCol {
    float: left;
    position: relative;
  }

  img {
    position: absolute;
    bottom: 0;
  }
}

.gameTile {
  border: 2px solid #117a8b;
  box-sizing: border-box;

  &.selected {
    border: 3px solid greenyellow;
  }
}

.lobbyTile {
  border: 2px solid #117a8b;
  box-sizing: border-box;
  height: 90px;

  img {
    margin: 2px;
    height: 86px;
  }

  h2 {
    font-size: 30px;
  }

  button {
    width: 90%;
    height: 90%;
    margin: auto;
  }

  &.selected {
    border: 3px solid greenyellow;
  }
}

.hero-controls {
  bottom: 0;
  position: fixed;
  width: 100%;
}
